<div id="show_" class="display_all">
<% @content.each do |c| %>
	<div class="contenido">
		<h1 class="h1_content"><%= c.title %></h1>
		<img src="<%= c.picture  %>" alt="">
		<p class="category_body_show"><%= h c.desc. html_safe %></p>	
		<%= link_to c.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
	</div>
<% end %>
</div>

<div class="_showline"></div>

<div id="nav_right" class="display_all">
	<h1 class="agend_">AGENDA</h1>
	<% @news.each do |n| %>
		<div class="subcategory_display">
			<%= image_tag n.picture, :class=>'img_feed' %>
			<p class="category_body_nav"><%= n.desc.slice(0..200) + "..."%></p>
		<%= link_to n.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
		</div>
	<% end %>
	<div id="line_an"></div>
	<h1 class="agend_">NOTICIAS</h1>
	<% @events.each do |e| %>
		<div class="subcategory_display">
			<%= image_tag e.picture, :class=>'img_feed' %>
			<p class="category_body_nav">
				<%= e.desc.slice(0..200) + "..."%>
			</p>
		<%= link_to e.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
		</div>
	<% end %>
</div>