<div id="show_" class="display_all">
<% @content.each do |c| %>
	<div class="contenido">
		<h1 class="h1_content"><%= c.title %></h1>
		<div class="line_contenido"></div>
		<img src="<%= c.picture  %>" id="<%= c.id %>">
		<p class="category_body_show"><%= h c.desc.html_safe %></p>
		<a href="<%= c.url%>" target="_blank" class="link_feed"><%= c.url%></a>
	</div>
<% end %>
</div>
<div class="_showline"></div>

<div id="nav_right" class="display_all">
	<%= link_to "AGENDA", { :action=>'content', :controller => 'home', :id => 2 }, :class => "agend_ link", :remote => true %>
	<% @events.each do |n| %>
		<div class="subcategory_display">
			<%= link_to image_tag(n.picture, :border=>0, :class => 'img_feed link'), { :controller => 'home', :action => 'content', :id => 2, :article => n.id }, :class=> 'link', :remote => true  %>
			<p class="category_body_nav"><%= n.desc.slice(0..200).html_safe %></p>
		</div>
	<% end %>
	<div id="line_an"></div>
	<%= link_to "NOTICIAS", { :action=>'content', :controller => 'home', :id => 1 }, :class => "agend_ link", :ID => "news_", :remote => true %>
	<% @news.each do |e| %>
		<div class="subcategory_display">
			<%= link_to image_tag(e.picture, :border=>0, :class => 'img_feed link'), { :controller => 'home', :action => 'content', :id => 1, :article => e.id }, :class=> 'link', :remote => true  %>
			<p class="category_body_nav"><%= e.desc.slice(0..200).html_safe %></p>
			<a href="<%= e.url%>" target="_blank" class="link_feed"><%= e.url%></a><br>
		</div>
	<% end %>
</div>