<div id="show_" class="display_all">
<% @content.each do |c| %>
	<div class="contenido">
		<h1>c.title</h1>
		<img src="<%= c.picture  %>" alt="">
		<p class="category_body_show"><%= h c.desc. html_safe %></p>	
		<%= link_to c.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
	</div>
<% end %>
</div>

<div class="_showline"></div>

<div id="nav_right" class="display_all">
	<h1 class="agend_">AGENDA</h1>
	<% @news.each do |n| %>
		<div class="subcategory_display">
			<%= image_tag n.picture, :class=>'img_feed' %>
			<p class="category_body_nav"><%= n.desc.slice(0..200) + "..."%></p>
		<%= link_to n.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
		</div>
	<% end %>
	<div id="line_an"></div>
	<h1 class="agend_">NOTICIAS</h1>
	<% @events.each do |e| %>
		<div class="subcategory_display">
			<%= image_tag e.picture, :class=>'img_feed' %>
			<p class="category_body_nav">
				<%= e.desc.slice(0..200) + "..."%>
			</p>
		<%= link_to e.url,{:target => '_blank', :class=> "link_feed"}, :class=> "link_feed" %>
		</div>
	<% end %>
</div>
<script>
	$(function() {
		$('#main_container').fadeOut(300,function(){
		$(this).html("<%= escape_javascript(render('content')) %>").fadeIn();
		var maxH = $(window).height(),
				colors = ['e3e41a','fb2467','459ad3','73c5c9','c7ced2','8FC185'],
				randColor = colors[(Math.floor(Math.random() * 5))],
				navR = $("#nav_right").height(),
				show = $("#show").height(),
				za = 0;

			var majior = (Math.max(maxH,navR,show))+100;
			$("#show_").animate({height:majior,backgroundColor:'#1e1e1e',opacity:1},1200,'easeInOutQuart');
			$("._showline").animate({opacity:1, height:(majior+60),backgroundColor:('#'+randColor)},1200,'easeInOutQuart');
			$("#nav_right").css({height:majior}).animate({width:252,opacity:1},1600,'easeInOutQuart');
			$(".subcategory_display").delay(900).each(function(){
				$(this).delay(za).animate({opacity:1},600,'easeInOutQuart');
				za=za+300;
			});
		});
	});
</script>