<div id="white_space">
	 <h1 id="connecting">CONECTANDO</h1> 
</div>
<div id="contents">
	<% @juries.each do |content| %>
		<section class="contents" id="<%= content.title %>">
			<img src="<%= content.picture %>" alt="" id="img_motion_graphics" class="img_content">
			<div id="line_color_motion_graphics" class="line_content_div"></div>
			<div class="container_texts">
				<article class="content_article">
					 <h1 id="h1_motion_graphics"> <%= content.title %></h1> 
					 <h2><%= content.title %></h2> 
					<p class="article_paragraph">
						<%= content.desc.html_safe %>
					</p>
				</article>
				<div class="arrow_read_more">
					<%= link_to "+ VER MÁS", { :action=>'content', :controller => 'home', :id => 5, :article=> content.id }, :class => "read_more_content link", :remote => true %>
				</div>
			</div>
		</section>
		<% end %>
			<div id="arrow_prev_content" class="asset"></div>
			<div id="arrow_next_content" class="asset"></div>
</div>
<div id="sections">
	<ul id="ul_section">
		<li class="section" id="event_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/event.jpg', :border=>0, :class => 'img_section link', :id =>'event'), { :controller => 'home', :action => 'content', :id => 10 }, :remote => true  %>
				<%= link_to "EVENTO", { :action=>'content', :controller => 'home', :id => 10}, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="manifest_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/manifest.jpg', :border=>0, :class => 'img_section link', :id =>'manifest_Text'), { :controller => 'home', :action => 'content', :id => 3 }, :class=> 'link', :remote => true  %>
				<%= link_to "MANIFIESTO", { :action=>'content', :controller => 'home', :id => 3 }, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="why_section">
			<div class="section_link">
				<div class="img_section" id="why_image">
					<%= link_to image_tag('/assets/why.png', :border=>0, :class => 'link', :id =>'why'), { :controller => 'home', :action => 'content', :id => 9 }, :class=> 'link', :remote => true  %>
				</div>
				<%= link_to "PQ13 AÑO UNO", { :action=>'content', :controller => 'home', :id => 9 }, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="impact_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/impact.jpg', :border=>0, :class => 'img_section link', :id =>'impact'), { :controller => 'home', :action => 'content', :id => 8 }, :class=> 'link', :remote => true  %>
				<%= link_to "IMPACTO", { :action=>'content', :controller => 'home', :id => 8 }, :class=> 'link', :remote => true %>
			</div>
		</li>
	</ul>
</div>
<div id="agend" class="block_footer">
	<%= link_to "AGENDA", { :action=>'content', :controller => 'home', :id => 2 }, :class => "head_h1_foter link", :remote => true %>
	<% @events.each do |evento| %>
		<section id="bienal_section" class="agend_section">

			<%= link_to image_tag(evento.picture, :border=>0, :class => 'img_agend'), { :controller => 'home', :action => 'content', :id => 2, :article => evento.id }, :class=> 'link', :remote => true  %>
				<div class="texts_agend">
					<h1><%= evento.title %></h1>
					<p class="description_note"><%= evento.desc.html_safe %></p>
				</div>
		</section>
		<% end %>
</div>
<div id="social_networks">
	 <h1 class="head_h1_foter">SOCIAL</h1> 
	<div id="container_networks">
		<div id="twitter_">
			<div id="tw_quorum" class="asset"></div>
			<a href="http://twitter.com/PremioQuorum" id="twitter_quorum">TWITTER</a>
		</div>
		<div id="facebook_">
			<div id="fb_quorum" class="asset"></div>
			<a href="http://bpb.opendns.com/a/www.facebook.com/PremioQuorum" id="facebook_quorum">FACEBOOK</a>
		</div>
		<div id="newsletter">
			 <h1 id="subscribe">SUSCRÍBETE <br>Y RECIBE NOTICIAS</h1> 
			<input value="correo electrónico" data="correo electrónico" type="text" id="email_newsletter">
			<div id="send_newsletter">
				<a href="" id="arrow_newsletter" class="asset"></a>
			</div>
		</div>
	</div>
</div>
<div id="news" class="block_footer">
	<%= link_to "NOTICIAS", { :action=>'content', :controller => 'home', :id => 1 }, :class => "head_h1_foter link", :remote => true %>
	<% @news.each do |noticia| %>
		<section id="bienal_section" class="agend_section">
			<%= link_to image_tag(noticia.picture, :border=>0, :class => 'img_agend'), { :controller => 'home', :action => 'content', :id => 1, :article => noticia.id}, :class=> 'link', :remote => true  %>
				<div class="texts_agend">
					<h1><%= noticia.title %></h1>
					<p class="description_note"><%= noticia.desc.html_safe %></p>
				</div>
		</section>
		<% end %>
</div>