<div id="white_space">
	 <h1 id="connecting">CONECTANDO</h1> 
</div>
<div id="contents">
	<% @juries.each do |content| %>
		<section class="contents" id="<%= content.title %>">
			<img src="<%= content.picture %>" alt="" id="img_motion_graphics" class="img_content">
			<div id="line_color_motion_graphics" class="line_content_div"></div>
			<div class="container_texts">
				<article class="content_article">
					<h1 id="h1_motion_graphics"> <%= content.title %></h1>
					<!--<h2><%= content.title %></h2>--> 
					<p class="article_paragraph">
						<%= content.desc.html_safe %>
					</p>
				</article>
				<div class="arrow_read_more">
					<%= link_to "+ VER MÁS", { :action=>'content', :controller => 'home', :id => 5, :article=> content.id }, :class => "read_more_content link", :remote => true %>
				</div>
			</div>
		</section>
		<% end %>
			<div id="arrow_prev_content" class="asset"></div>
			<div id="arrow_next_content" class="asset"></div>
</div>

 <div class="list_carousel">
        <ul id="foo2">
          <li><%= link_to image_tag('/assets/patrocinadores/franz.png'),  "http://www.franzmayer.org.mx/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/zimat.png'), "http://www.zimat.com/", :target => "_blank"    %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/televisa.png'), "http://www.televisa.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/once.png'), "http://www.oncetv-ipn.net/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/citrico.png'), "http://citricografico.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/mbm.png'), "http://mblm.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/prom.png'), "http://www.promexico.gob.mx/es_mx/promexico/home", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/repro.png'), "http://www.repro316.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/eum.png'), "http://www.eumex.com.mx/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/cedim.png'), "http://www.cedim.edu.mx/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/pontu.png'), "http://pontuweb.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/gloc.png'), "http://glocal.mx/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/two.png'), "http://2night.com/mexico", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/tipos.png'), "http://www.tiposlibres.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/fest.png'), "http://www.design-fest.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/box.png'), "http://tweenbox.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/coron.png'), "http://www.elcorondel.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/holic.png'), "http://www.designaholic.mx/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/domus.png'), "http://www.domusweb.it/es/home.html", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/se.png'), "http://www.taller-se.com/", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/vice.png'), "http://www.vice.com/es_mx", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/timeout.png'), "http://www.timeoutmexico.mx/df", :target => "_blank"  %></li>
          <li><%= link_to image_tag('/assets/patrocinadores/dondes.png'), "https://www.facebook.com/pages/DonDesign/448063208606615", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/neo.png'), "http://www.revistaneo.com/home/default.asp", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/estilodf.png'), "http://estilodf.tv/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/estilomx.png'), "http://estilomexico.com/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/adde.png'), "http://aperitivosdedisenotv.tumblr.com/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/cool.png'), "http://coolhuntermx.com/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/nfg.png'), "http://www.nfgraphics.com/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/mecate.png'), "http://blog.mecate.mx/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/rip.png'), "http://www.rip.mx/", :target => "_blank"  %></li>
         
           <li><%= link_to image_tag('/assets/patrocinadores/tc.png'), "http://www.thecitylovesyou.com/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/neopixel.png'), "http://www.neopixel.com.mx/", :target => "_blank"  %></li>
           <li><%= link_to image_tag('/assets/patrocinadores/style.png'), "http://www.styletrendmx.com/", :target => "_blank"  %></li>
        </ul>
        <div class="clearfix"></div>
        <span id="prev2" class="prev"></span>
        <span id="next2" class="next"></span>
      </div>

<div id="sections">
	<ul id="ul_section">
		<li class="section" id="event_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/event.jpg', :border=>0, :class => 'img_section link', :id =>'event'), { :controller => 'home', :action => 'content', :id => 10 }, :remote => true  %>
				<%= link_to "EVENTOS", { :action=>'content', :controller => 'home', :id => 10}, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="manifest_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/manifest.jpg', :border=>0, :class => 'img_section link', :id =>'manifest_Text'), { :controller => 'home', :action => 'content', :id => 3 }, :class=> 'link', :remote => true  %>
				<%= link_to "MANIFIESTO", { :action=>'content', :controller => 'home', :id => 3 }, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="why_section">
			<div class="section_link">
				<div class="img_section" id="why_image">
					<%= link_to image_tag('/assets/why.png', :border=>0, :class => 'link', :id =>'why'), { :controller => 'home', :action => 'content', :id => 9 }, :class=> 'link', :remote => true  %>
				</div>
				<%= link_to "PQ13 AÑO UNO", { :action=>'content', :controller => 'home', :id => 9 }, :class=> 'link', :remote => true %>
			</div>
		</li>
		<li class="section" id="impact_section">
			<div class="section_link">
				<%= link_to image_tag('/assets/impact.jpg', :class => 'img_section'), "http://quorum.org.mx/ganadores_pq12/ganadores.html", :target => "_blank"  %>
				<%= link_to "GANADORES PQ12", "http://quorum.org.mx/ganadores_pq12/ganadores.html", :target => "_blank"  %>
				
			</div>
		</li>
	</ul>
</div>
<div id="agend" class="block_footer">
	<%= link_to "AGENDA", { :action=>'content', :controller => 'home', :id => 2 }, :class => "head_h1_foter link", :remote => true %>
	<% @events.each do |evento| %>
		<section id="bienal_section" class="agend_section">

			<%= link_to image_tag(evento.picture, :border=>0, :class => 'img_agend'), { :controller => 'home', :action => 'content', :id => 2, :article => evento.id }, :class=> 'link', :remote => true  %>
				<div class="texts_agend">
					<h1><%= evento.title %></h1>
					<p class="description_note"><%= evento.desc.html_safe %></p>
				</div>
		</section>
		<% end %>
</div>
<div id="social_networks">
	 <h1 class="head_h1_foter">SOCIAL</h1> 
	<div id="container_networks">
		<div id="twitter_">
			<div id="tw_quorum" class="asset"></div>
			<a href="http://twitter.com/PremioQuorum" target="_blank" id="twitter_quorum">TWITTER</a>
		</div>
		<div id="facebook_">
			<div id="fb_quorum" class="asset"></div>
			<a href="https://www.facebook.com/PremioQuorum" target="_blank" id="facebook_quorum">FACEBOOK</a>
		</div>
		<!--<div id="newsletter">
			 <h1 id="subscribe">SUSCRÍBETE <br>Y RECIBE NOTICIAS</h1> 
			<input value="correo electrónico" data="correo electrónico" type="text" id="email_newsletter">
			<div id="send_newsletter">
				<a href="" id="arrow_newsletter" class="asset"></a>
			</div>
		</div>-->
	</div>
</div>
<div id="news" class="block_footer">
	<%= link_to "NOTICIAS", { :action=>'content', :controller => 'home', :id => 1 }, :class => "head_h1_foter link", :remote => true %>
	<% @news.each do |noticia| %>
		<section id="bienal_section" class="agend_section">
			<%= link_to image_tag(noticia.picture, :border=>0, :class => 'img_agend'), { :controller => 'home', :action => 'content', :id => 1, :article => noticia.id}, :class=> 'link', :remote => true  %>
				<div class="texts_agend">
					<h1><%= noticia.title %></h1>
					<div class="description_note">
						<%= noticia.desc. html_safe %>
					</div>
				</div>
		</section>
		<% end %>
</div>
